[Desktop Entry]
Name=Uninstall Electrician Simulator
Exec=env WINEPREFIX="/home/mihir/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Electrician\\ Simulator\\\\Uninstall\\ Electrician\\ Simulator.lnk
Type=Application
StartupNotify=true
Path=/home/mihir/Games/Electrician Simulator
Icon=AD4F_unins000.0
StartupWMClass=unins000.exe
