[Desktop Entry]
Name=== ElAmigos Releases and Updates @ official site ==
Exec=env WINEPREFIX="/home/mihir/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\PC\\ Building\\ Simulator\\ 2\\\\==\\ ElAmigos\\ Releases\\ and\\ Updates\\ @\\ official\\ site\\ ==.lnk
Type=Application
StartupNotify=true
Path=/home/mihir/Games/PC Building Simulator 2
Icon=D7DB__ElAmigos Releases and Updates.0
StartupWMClass=_elamigos releases and updates.url
