[D-BUS Service]
Name=org.gnome.Shell.Extensions.GSConnect
Exec=/home/mihir/.local/share/gnome-shell/extensions/gsconnect@andyholmes.github.io/service/daemon.js
